body {
  background-color: white;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

header,
footer {
  background-color: #3BCC45;
  padding: 5px 15px;
  margin: 5px 3px 5px 3px;
}

#wrapper {
  background-color: #FFB473;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

header {
  margin-top: 0px;
}

footer {
  margin-bottom: 0px;
}

h1 {
  font-family: 'Gabriela', serif;
  font-size: 3.3em;
  color: #0A266D;
  text-shadow: 1px 1px 2px black, 0 0 25px #FFB473, 0 0 2px #A24B00;
  white-space: nowrap;
}

#surname {
  margin-top: -27px;
  font-size: 4.2em;
  color: #A24B00;
}

#penguin {
  width: 150px;
  border-radius: 50%;
  margin-right: 40px;
  z-index: -1;
}

@media (max-width: 550px) {
  #penguin {
    visibility: hidden;
  }
}
section {
  background-color: #2349A7;
  color: white;
  text-shadow: 1px 1px 2px #A24B00;
  margin: 5px 0px 5px 5px;
  padding: 25px 20px;
  font-size: 1.6em;
}

#about {
  font-size: 2.5em;
  background-image: url("../img/skye.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  color: black;
  height: 500px;
}

section a:link,
section a:hover,
section a:active,
section a:visited,
section a:focus {
  color: #CD6104;
}

#contact .fa {
  font-size: 4.0em;
  color: #A24B00;
}

.links-txt {
  margin-bottom: 10px;
}
